---
title: "Code Block with Copy Button Example"
layout: base.njk
---

Here is a JavaScript example with a copy button:

{% codeblock "javascript", "helloworld.js" %}
function helloWorld() {
  console.log("Hello, world!");
}
{% endcodeblock %}

